<% provide(:title, "Log in") %>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<h4>ログイン画面</h4>
<%= form_for(:session, url:login_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %> 
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %> 
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: 'button success' %>
  </div>
  <br>
  <%= link_to "Sign up now!", new_user_path, class: 'button' %></p>
<% end %>
