<p id="notice"><%= notice %></p>

<% if logged_in? %>
<h1>Hello, <%= current_user.name %></h1>
<% end %>
<p>こちらはユーザー一覧です。</p>
<table>
  <thead>
    <tr>
      <% if Rails.env.development? %>
        <th>Id</th>
      <% end %>
      <th>Name</th>
      <th>Email</th>
      <th>Create Date</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if Rails.env.development? %>
          <td><%= user.id %></td>
        <% end %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
